body{
    background-color: aqua;
}

.App{
    background-color: white;
    min-height: 80vh;
    width: 400px;
    margin: 20px auto;
}
.crossed{
    text-decoration: line-through 2px red;
    background-color: rgb(187, 185, 181);
    width: 85%;
}
.input{
    font-family: 'Montserrat', sans-serif;
    flex: 1;
    padding: 10px;
    margin: 10px;
}
.container{
    display: flex;
    justify-content: center;
}
.image{
    margin-bottom: 15px;
}
.image-top{
    margin-top: 25px;
}
ul, li{
    margin: 0;
font-family: 'Montserrat', sans-serif;
margin-left: 10px;
list-style: none;
padding: 10px;
}
h1{
    margin-top: 35px;
    font-family: 'Montserrat', sans-serif;
}
.btn{
    width: 70%;
    color: white;
    padding: 6px;
    font-family: 'Montserrat', sans-serif;
}
.add{
    background-color: rgb(6, 120, 45);
    margin-top: 10px;
}
.delete{
    background-color: rgb(214, 36, 36);
    margin-bottom: 10px;
}